
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    font-family: Roboto, sans-serif;
}

.navbar{
    background-color: rgb(17, 17, 17);
}

#cabeçalho .nav .nav-link.active{
    background-color: rgb(77, 204, 77);
    color: rgb(17, 17, 17);
}

#cabeçalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover{
    color: rgb(77, 204, 77);
}

.nav-produtos .nav-link.active:hover{
    color: black;
}

.navbar-brand{
    font-family: Pacifico, cursive;
    font-size: 1.5rem;
}

.navbar-brand span{
    font-family: Roboto, sans-serif;
    font-weight: 700;
}

.navbar-toggler{
    background-color: rgb(77, 204, 77);
}

.carousel-item{
height: 70vh;

}

.carousel-item img{
    height: 100%;
}

.section-title{
    font-family: Pacifico, cursive;
}

#sobre-loja, #cardapio{
    background-color: rgb(203, 253, 203);
}

.text-colored{
    color: rgb(77, 204, 77);
}

.nav-produtos .nav-link.active,
#fale-conosco button{
    background-color: rgb(77, 204, 77);
    color: black;
}

.nav-produtos .nav-link:hover{
    color: rgb(77, 204, 77);
}

#cardapio{
    min-height: 50vh;
}

.sociais-link li{
    list-style: none;
    display: inline;

}

.sociais-link li a{
text-decoration: none;
}

#fale-conosco button{
border: none;
padding: 5px 10px;
width: 130px;
border-radius: 10px;
transition: all .3s ease;
}

#fale-conosco button:hover{
transform: scale(0.97);
    }




@media (max-width: 767px) {
    .carousel-item{
        height: 35vh;
        
        }
}

